body {
  font-family: "Comic Sans MS", "Comic Sans", "Comic Neue", cursive, fantasy;
}

button {
  scale: 1.25;
  padding: 7px;
  margin: 1%;
  display: block;
}

.container {
  display: flex;
  justify-content: center;
  height: 100%;
}

p {
  text-align: center;
}